<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=VISHAL;Initial Catalog=LifeLineRoadCarrier;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient" />
    <add name="LifeLineRoadEntities" connectionString="metadata=res://*/DataModel.LifeLineModel.csdl|res://*/DataModel.LifeLineModel.ssdl|res://*/DataModel.LifeLineModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VISHAL;Initial Catalog=LifeLineRoadCarrier;User ID=sa;Password=sa@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="LifeLineDbContext" connectionString="metadata=res://*/DataContext.LifeLineModel.csdl|res://*/DataContext.LifeLineModel.ssdl|res://*/DataContext.LifeLineModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=VISHAL;Initial Catalog=LifeLineRoadCarrier;User ID=sa;Password=sa@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>